@import '../../styles/theme';

.post__image {
  float: left;
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 2rem;

  @media (min-width: $desktopBreakpoint) {
    width: 23rem;
  }
}

.post__meta {
  font-size: 0.8rem;
}
