@import '../../styles/theme';

.root {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 0.3rem;
  border: 1px solid $brand;
  color: $brand;

  &.brand {
    border: 1px solid $brand;
    background-color: $brand;
    color: $white;
  }

  &.dark {
    border: 1px solid $dark;
    background-color: $dark;
    color: $white;
  }

  &.light {
    border: 1px solid $light;
    background-color: $light;
    color: $white;
  }

  &.brand--inverse {
    border: 1px solid $brand;
    background-color: $white;
    color: $brand;
  }

  &.dark--inverse {
    border: 1px solid $dark;
    background-color: $white;
    color: $dark;
  }

  &.light--inverse {
    border: 1px solid $light;
    background-color: $white;
    color: $light;
  }
}
