.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--item {
  flex: 0 0 100%;

  @media (min-width: $desktopBreakpoint) {
    flex: 0 0 50%;
  }
}

.page__meta {
  font-size: 0.8rem;
}

.pagination__container {
  display: block;
  clear: both;
  padding: 1rem 0;
}
