.pagination__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.pagination__action {
  padding: 1rem;
  list-style: none;
}

.post__meta {
  font-size: 0.8rem;
}

.ant-pagination-disabled {
  display: none;
}
