/** Normalize all the things **/
@import '../../node_modules/normalize.css/normalize.css';

/** My personal styling for a simple accessible start **/
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

body {
  color: black;
  font-family: Helvetica, sans-serif;
}

a {
  color: blue;
}

a:visited,
a:hover {
  color: purple;
}
