/** Normalize all the things **/
@import '../../node_modules/normalize.css/normalize.css';

/** My personal styling for a simple accessible start **/

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: sans-serif;
}

body {
  color: black;
}

a {
  color: blue;
}

a:visited,
a:hover {
  color: purple;
}
