.breadcrumb {
  font-size: 1rem;
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.7;
    li + li::before {
      display: inline-block;
      margin: 0 0.75rem;
      transform: rotate(15deg);
      border-right: 1px solid currentColor;
      height: 0.8em;
      content: '';
    }
  }
}
[aria-current] {
  color: black;
  font-weight: 700;
}
