@import '../../styles/theme';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.content {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.site-name {
  float: left;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  &:visited {
    color: #fff;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
