@import '../../styles/theme';

.root {
  background-color: $brand;
}

.container {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.title {
  margin: 0;
}

.link {
  color: $white;
  text-decoration: none;
  &:visited {
    color: $white;
  }
}
