.breadcrumb {
  font-size: 1rem;
  ol {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
      margin: 0 1rem 0 0;
    }
  }
}
[aria-current] {
  color: black;
  font-weight: 700;
}