@import '../../styles/theme';

.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;

  &.large {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &.constrained {
    max-width: $desktopBreakpoint;
  }
}
