@import '../../styles/theme';

.root {
  display: inline-block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;

  span {
    visibility: hidden;
  }
}

.checkmark {
  @extend .root;

  transform: rotate(45deg);
  right: 0.5rem;
  top: 0;
  width: 0.625rem;
  height: 0.625rem;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 27%;
    height: 100%;
    right: 0;
    bottom: 0;
    transition: height 0.15s linear;
    background-color: $brand;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 27%;
    left: 40%;
    bottom: 0;
    transition: width 0.15s;
    background-color: $brand;
  }

  &.brand {
    &::before {
      background-color: $brand;
    }
    &::after {
      background-color: $brand;
    }
  }

  &.dark {
    &::before {
      background-color: $dark;
    }
    &::after {
      background-color: $dark;
    }
  }

  &.light {
    &::before {
      background-color: $light;
    }
    &::after {
      background-color: $light;
    }
  }
  @media (min-width: $desktopBreakpoint) {
    top: -3px;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.dot {
  @extend .root;
  background-color: $brand;
  border-radius: 50%;

  &.brand {
    background-color: $brand;
  }

  &.dark {
    background-color: $dark;
  }

  &.light {
    background-color: $light;
  }
}

.tooltip {
  @extend .root;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $dark;
  background-color: transparent;
  color: $dark;
  font-weight: bold;

  &::before {
    font-size: 0.5rem;
    content: 'i';
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
  }

  &.brand {
    border: 1px solid $brand;
    color: $brand;
  }

  &.dark {
    border: 1px solid $dark;
    background-color: $dark;
    color: $white;
  }

  &.light {
    border: 1px solid $light;
    background-color: $light;
    color: $black;
  }
}
