$fontFamily: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
$monoFamily: Monaco, Consolas, 'Lucida Console', monospace;

@mixin body() {
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: 400;
}

@mixin bodySmall() {
  font-family: $fontFamily;
  font-size: 0.8rem;
  font-weight: 400;
}
